header {
        top: 0px;
        left: 0px;
        width: 1920px;
        height: 30px;
        /* UI Properties */
        background: #000F08 0% 0% no-repeat padding-box;
        opacity: 1;
}   

 header {
     background-color: #333;
     color: #fff;
     padding: 20px;
 }



 header ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
 }

 header ul li {
     display: inline-block;
     margin-right: 20px;
 }

 header ul li a {
     color: #fff;
     text-decoration: none;
 }

 .imgportada {
        position: absolute;
            top: 0;
            left: 0;
            width: auto;
            height: auto;
            z-index: -1;
 }

  .portada {
    
        left: 0px;
        width: auto;
        height: 400px;
        /* UI Properties */
        background: transparent url('img/bg-hero.png') 0% 0% no-repeat padding-box;
        opacity: 1;
        position: relative;
            text-align: right;
            color: white;
            padding: 20px;
            overflow: hidden;
  }

  .portada h1 {
      font-size: 40px;
      margin-bottom: 10px;
  }

  .portada h2 {
      font-size: 24px;
      font-weight: normal;
  }